<!doctype html>
<html lang="en" ng-app="contactApp">
    <head>
        <meta charset="UTF-8">
        <title>My Contact List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-controller="contactListController">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="key in localStorage.keys()">
                    <td>
                        <span class="btn btn-lg" ng-click="remove(key)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </span>
                    </td>
                    <td><a style="cursor: pointer;" ng-click="update(key)">{{ localStorage.get(key).firstName + " " + localStorage.get(key).lastName }}</a></td>
                    <td>{{ localStorage.get(key).email }}</td>
                    <td>{{ localStorage.get(key).phoneNumebr }}</td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Add Contact" ng-click="add()">
    </body>
</html>